*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    font-family: "Exo", sans-serif;
	background-color: lightgoldenrodyellow;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 120px;
    padding: 10px;
}
  
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
li {
    margin: 0 20px;
}
  
nav a {
    color: black;
    font-size: 24px;
    text-decoration: none;   
    width: 130px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 5px black;
    font-family: "Exo", sans-serif;
}
   
nav a:hover {
    background-color: #ffa500;
}


h2{
    
    text-align: center;
    margin-bottom: 0;
    font-family: "Exo", sans-serif;
    
}

.inicio {
    background-image: url(/assets/images/HedyLamarr01_.jpg);
    width: 100%;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.biografia{
      padding: 65px;
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
}
  
.biografia__img{
    display: flex;
    padding: 0 90px 40px 90px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.biografia img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    border: #FA8072 5px solid;
}

.biografia p{
    width: 800px;
    line-height: 1.8;
    font-size: 16px;
    padding: 20px;
    font-family: "Exo", sans-serif;
    text-align: justify;
}


footer{
    font-family: "Exo", sans-serif;
    background-color: #FA8072;
    font-size:14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}