*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Exo", sans-serif;
}


nav {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 120px;
    padding: 10px;
    width: 100%;
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin: 0 20px;
}
 
nav a {
    color: black;
    font-size: 24px;
    text-decoration: none;   
    width: 130px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 5px black;
    font-family: "Exo", sans-serif;
}
   
nav a:hover {
    background-color: #ffa500;
}


h2{    
    text-align: center;
    margin-bottom: 0;
    font-family: "Exo", sans-serif;
    
}

.inicio {
    background-image: url(./assets/images/Hedy-Lamarr-DQ-Wild.png);
    width: 100%;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  
.biografia {
      padding: 65px;
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
}
  
.biografia__img{
    display: flex;
    padding: 0 90px 40px 90px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.biografia img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-items: center;
    border: #FA8072 5px solid;
}

.biografia p{
    width: 100%;
    line-height: 1.8;
    font-size: 16px;
    padding: 20px;
    font-family: "Exo", sans-serif;
    text-align: justify;
}

.filmografia{
    background-color: #FA8072;
    padding-top: 65px;
}

.filmografia__container{
    width: 100%;
    padding: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.filmografia__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px dotted black;
    border-radius: 5%;
    padding: 20px;
    width: 500px;
    background-color: lightgoldenrodyellow ;
    margin: 20px;
}

.filmografia__card li{
       margin: 10px 20px;

}
.filmografia__card ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.filmografia__img{
    width: 200px;
    height: 350px;
    border-radius: 10%;
    border: 5px solid #ffa500;
}

.invencoes {
    margin-top: 40px;
    width: 100%;
}
.invencoes__video{
    padding: 50px;
    display: flex;
    justify-content: center;
}

iframe{
    border-radius:5%;
}

footer{
    width: 100%;
    font-family: "Exo", sans-serif;
    background-color: #FA8072;
    font-size:14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .inicio{
        object-fit: cover;
        object-position: left;
    }

    .biografia__img {
        flex-direction: column;
    }
    
    .biografia__img img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .biografia__img p {
        width: 100%;
    }

    .filmografia{
        flex-direction: column;
    }

    iframe, footer {
        width: 100%;
    }
}
